---
Checks:          'clang-diagnostic-*,clang-analyzer-*,clang-bugprone-*,readability-identifier-naming'
WarningsAsErrors: true
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: false
CheckOptions:
  - key:             readability-identifier-naming.StructCase
    value:           'CamelCase'
  - key:             readability-identifier-naming.FunctionCase
    value:           'camelBack'
  - key:             readability-identifier-naming.VariableCase
    value:           'camelBack'
  - key:             readability-identifier-naming.GlobalConstantCase
    value:           'UPPER_CASE'
